<div class="sign-list">
    <h2>
        Signers List
    </h2>
    {{#each signersList}}
     
     <li> <a href="{{homepage}}" target="_blank">{{first_name}} {{last_name}} {{age}}</a> <a href="/signersList/{{city}}"> {{city}}</a></li>
     
    {{/each}}  
</div>